@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;700&display=swap");

:root {
  --dark: rgb(20, 20, 20);
  --yellow: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);

  --c1: rgb(38, 70, 83);
  --c2: rgb(42, 157, 143);

  --left-color: var(--c1);
  --right-color: var(--c2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
  color: white;
}

.Title {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: var(--yellow);
  text-align: center;
  margin-top: 2rem;
  text-shadow: 2px 2px var(--blue);
}

/* SuperSlider */
.SuperSlider {
  text-align: center;
  margin-top: 0px;
}

.side {
  display: grid;
  height: 400px;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
}

.side .title {
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  margin: 0px 10vw;
  width: 80vw;
  color: white;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color: var(--left-color);
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: var(--dark);
}

#left-side .fancy {
  color: white;
}

#right-side {
  background-color: var(--right-color);
}

#right-side .title {
  color: white;
}

#right-side .fancy {
  color: var(--dark);
}

/* Webcam, Original Image, Predicted Image */
.Boxes {
  position: relative;
  top: 500px;
  color: black;
}

.btn-pink {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--dark);
}

#videoElement {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#imageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#imageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#predictedImageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#predictedImageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}
