* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn-pink {
  background-color: #e91e63;
  border-color: #e91e63;
  color: #fff;
}

#videoElement {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#imageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#imageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#predictedImageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#predictedImageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}
