@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;700&display=swap");

:root {
  --dark: rgb(20, 20, 20);
  --yellow: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);

  --c1: rgb(38, 70, 83);
  --c2: rgb(42, 157, 143);

  --left-color: var(--c1);
  --right-color: var(--c2);

  --fg: #e3e4e8;
  --bg: #17181c;
  --dur: 8s;

  --card-color: rgb(25, 25, 25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.Title {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  color: var(--yellow);
  text-align: center;
  margin-top: 2rem;
  text-shadow: 2px 2px var(--blue);
}

.SubTitle {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

/* Arrow Animation */
.arrow {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* transform: rotate(90deg); */
  cursor: pointer;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(-45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(20px, 20px);
  }
}

/* SuperSlider */
.SuperSlider {
  text-align: center;
  margin-top: 20px;
}

.side {
  display: grid;
  height: 400px;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
}

.side .title {
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  margin: 0px 10vw;
  width: 80vw;
  color: white;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color: var(--left-color);
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: var(--dark);
}

#left-side .fancy {
  color: white;
}

#right-side {
  background-color: var(--right-color);
}

#right-side .title {
  color: white;
}

#right-side .fancy {
  color: var(--dark);
}

/* Steps */
.Steps {
  position: relative;
  top: 500px;
  color: black;
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

.StepsTitle {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  color: white;
}

ol.gradient-list > li::before,
ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font-family: "Rubik", sans-serif;
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(10n + 1):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.2) 0%,
    rgba(253, 220, 50, 0.2) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 2):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.4) 0%,
    rgba(253, 220, 50, 0.4) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 3):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.6) 0%,
    rgba(253, 220, 50, 0.6) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 4):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.8) 0%,
    rgba(253, 220, 50, 0.8) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 5):before {
  background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}
ol.gradient-list > li:nth-child(10n + 6):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.8) 0%,
    rgba(253, 220, 50, 0.8) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 7):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.6) 0%,
    rgba(253, 220, 50, 0.6) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 8):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.4) 0%,
    rgba(253, 220, 50, 0.4) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 9):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.2) 0%,
    rgba(253, 220, 50, 0.2) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 10):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0) 0%,
    rgba(253, 220, 50, 0) 100%
  );
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}

.gradient-list span {
  color: var(--c2);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Webcam, Original Image, Predicted Image */
.Boxes {
  position: relative;
  top: 500px;
  color: black;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ButtonsCol {
  text-align: center;
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .Buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ButtonsCol {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
  }
}

.MyButton {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--dark);
  margin: 10px;
  transition: all 0.3s ease;
}

.MyButton:hover {
  border-color: var(--blue);
  color: var(--yellow);
  background-color: var(--dark);
}

.card {
  background-color: var(--c1);
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.card-header {
  background-color: var(--c2);
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}

.card-body {
  background-color: var(--dark);
}

/* Spinner */
.Spinner {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Spinner p {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hexagon {
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  width: 15em;
  height: 15em;
}
.hexagon__group,
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
  position: absolute;
}
.hexagon__group {
  width: 100%;
  height: 100%;
}
.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -1 / 6);
}
.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -2 / 6);
}
.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -3 / 6);
}
.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -4 / 6);
}
.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -5 / 6);
}
.hexagon__group:nth-child(odd) {
  transform: rotate(30deg);
}
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
  animation-duration: var(--dur);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*animation-play-state: paused;*/
  width: 0.2em;
  height: 0.2em;
}
.hexagon__sector {
  animation-name: moveOut1;
  top: calc(50% - 0.1em);
  left: calc(50% - 0.1em);
}
.hexagon__sector:nth-child(2) {
  animation-name: moveOut2;
}
.hexagon__sector:nth-child(3) {
  animation-name: moveOut3;
}
.hexagon__sector:nth-child(4) {
  animation-name: moveOut4;
}
.hexagon__sector:nth-child(5) {
  animation-name: moveOut5;
}
.hexagon__sector:nth-child(6) {
  animation-name: moveOut6;
}
.hexagon__sector:before,
.hexagon__sector:after {
  animation-name: ripple;
  background-color: currentColor;
  border-radius: 0.1em;
  content: "";
  display: block;
  top: 0;
  left: 0;
  transform-origin: 0.1em 0.1em;
}
.hexagon__sector:before {
  transform: rotate(-30deg);
}
.hexagon__sector:after {
  transform: rotate(-150deg);
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #17181c;
    --fg: #e3e4e8;
  }
}
/* Animations */
@keyframes moveOut1 {
  from {
    transform: translateY(0) scale(0);
  }
  3% {
    transform: translateY(0.2em) scale(1);
  }
  97% {
    transform: translateY(7.3em) scale(1);
  }
  to {
    transform: translateY(7.5em) scale(0);
  }
}
@keyframes moveOut2 {
  from {
    transform: rotate(60deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(60deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(60deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(60deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut3 {
  from {
    transform: rotate(120deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(120deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(120deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(120deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut4 {
  from {
    transform: rotate(180deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(180deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(180deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(180deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut5 {
  from {
    transform: rotate(240deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(240deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(240deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(240deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut6 {
  from {
    transform: rotate(300deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(300deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(300deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(300deg) translateY(7.5em) scale(0);
  }
}
@keyframes ripple {
  from,
  to {
    width: 0.2em;
  }
  33% {
    width: 2.4em;
  }
}

#videoElement {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#imageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#imageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#predictedImageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#predictedImageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#predictedImageDiv p {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.About {
  padding: 1rem;
  margin-top: 600px;
  justify-content: center;
}

.AboutText {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  text-align-last: left;
}

.AboutText a {
  color: var(--blue);
  text-decoration: none;
  /* Animation */
  transition: all 0.3s ease-in-out;
}

.AboutText a:hover {
  color: var(--yellow);
  /* text-decoration: underline; */
}

/* Gradient Card Hover Effect */
#gradient-cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  padding: 1em 0em;
  place-self: center;
  position: relative;
  width: calc(100% - 2em);
  z-index: 2;
  margin: 0 auto;
}

.gradient-card {
  background-color: var(--card-color);
  border-radius: 0.75em;
  cursor: pointer;
  height: 240px;
  position: relative;
}

.gradient-card:hover:before {
  opacity: 1;
}

.gradient-card:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgb(255, 215, 137) 50%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

.gradient-card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: grid;
  inset: 1px;
  padding: 1em;
  position: absolute;
}

.gradient-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1.5rem;
  opacity: 0; /* Hide the content by default */
  transition: opacity 0.3s ease-in-out; /* Add transition effect */
}

.gradient-card-description {
  font-size: 0.9rem;
  color: #666;
  margin: 0 auto;
  opacity: 0; /* Hide the content by default */
  transition: opacity 0.3s ease-in-out; /* Add transition effect */
}

.gradient-card:hover .gradient-card-title,
.gradient-card:hover .gradient-card-description {
  opacity: 1; /* Show the content on hover */
}

/* -- ↓↓ Extra styles ↓↓ -- */

.gradient-card:hover > .gradient-card-content > .gradient-card-icon {
  opacity: 1;
  transform: scale(1.1) translateY(-5%);
}

.gradient-card-icon {
  color: rgba(255, 255, 255, 0.25);
  font-size: 6em;
  opacity: 0.4;
  place-self: center;
  transition: transform 250ms, opacity 250ms;
}

@media (max-width: 1100px) {
  #gradient-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #gradient-cards {
    grid-template-columns: 1fr;
  }
}
