@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;700&display=swap");

:root {
  --dark: rgb(20, 20, 20);
  --yellow: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);

  --c1: rgb(38, 70, 83);
  --c2: rgb(42, 157, 143);

  --left-color: var(--c1);
  --right-color: var(--c2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
  color: white;
}

.Title {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  color: var(--yellow);
  text-align: center;
  margin-top: 2rem;
  text-shadow: 2px 2px var(--blue);
}

.SubTitle {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

/* Arrow Animation */
.arrow {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* transform: rotate(90deg); */
  cursor: pointer;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(-45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(20px, 20px);
  }
}

/* SuperSlider */
.SuperSlider {
  text-align: center;
  margin-top: 20px;
}

.side {
  display: grid;
  height: 400px;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
}

.side .title {
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  margin: 0px 10vw;
  width: 80vw;
  color: white;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color: var(--left-color);
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: var(--dark);
}

#left-side .fancy {
  color: white;
}

#right-side {
  background-color: var(--right-color);
}

#right-side .title {
  color: white;
}

#right-side .fancy {
  color: var(--dark);
}

/* Steps */
.Steps {
  position: relative;
  top: 500px;
  color: black;
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

.StepsTitle {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  color: white;
}

ol.gradient-list > li::before,
ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(10n + 1):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.2) 0%,
    rgba(253, 220, 50, 0.2) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 2):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.4) 0%,
    rgba(253, 220, 50, 0.4) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 3):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.6) 0%,
    rgba(253, 220, 50, 0.6) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 4):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.8) 0%,
    rgba(253, 220, 50, 0.8) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 5):before {
  background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}
ol.gradient-list > li:nth-child(10n + 6):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.8) 0%,
    rgba(253, 220, 50, 0.8) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 7):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.6) 0%,
    rgba(253, 220, 50, 0.6) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 8):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.4) 0%,
    rgba(253, 220, 50, 0.4) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 9):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0.2) 0%,
    rgba(253, 220, 50, 0.2) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 10):before {
  background: linear-gradient(
    135deg,
    rgba(162, 237, 86, 0) 0%,
    rgba(253, 220, 50, 0) 100%
  );
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}

.gradient-list span {
  color: var(--c2);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Webcam, Original Image, Predicted Image */
.Boxes {
  position: relative;
  top: 500px;
  color: black;
}

.btn-pink {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--dark);
  margin: 10px;
}

.btn-pink:hover {
  border-color: var(--blue);
  color: var(--yellow);
}

.card {
  background-color: var(--c1);
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.card-header {
  background-color: var(--c2);
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}

.card-body {
  background-color: var(--dark);
}

#videoElement {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#imageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#imageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#predictedImageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#predictedImageDiv img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#predictedImageDiv p {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.About {
  padding: 1rem;
  margin-top: 600px;
  justify-content: center;
}

.AboutText {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  text-align-last: left;
}

.AboutText a {
  color: var(--blue);
  text-decoration: none;
  /* Animation */
  transition: all 0.3s ease-in-out;
}

.AboutText a:hover {
  color: var(--yellow);
  /* text-decoration: underline; */
}
