<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Detector</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>

  <body>
    <button onclick="startWebcam()">Play</button>
    <button onclick="stopWebcam()">Close</button>
    <button onclick="takeSnapshot()">Snap</button>
    <video id="videoElement"></video>

    {% if result %}
    <h1>{{ result.prediction }}</h1>
    <img
      src="data:image/jpeg;base64,{{ result.image }}"
      alt="Original Image"
      style="max-width: 100%; height: auto"
    />
    {% endif %}

    <!-- Error -->
    {% if error %}
    <h1>{{ error }}</h1>
    {% endif %}

    <!-- Custom JS -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
