<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Detector</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>

  <body>
    <h1>Emotion Detector</h1>
    {% if result %}
    <div>
      <p>Prediction: {{ result.prediction }}</p>
      <img src="data:image/png;base64,{{ result.image }}" alt="Image" />
    </div>
    {% endif %}

    <div id="resultDiv"></div>

    <button onclick="startWebcam()">Play</button>
    <button onclick="stopWebcam()">Close</button>
    <button onclick="takeSnapshot()">Snap</button>
    <video id="videoElement"></video>

    <!-- Custom JS -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
